/* Pagina de Ingreso */

.inicio{
    background:  #008CBA;
}

html,body {
    height:100%;
    width: 100%;
    margin: 0px;
    display:flex ;
    flex-direction: column;
}

.contenedor{
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
#encabezado {
    text-align: center;  
}

/*Galeria de imagenes*/

.galeria{

    background: white;
    text-align: center;
    margin: auto;
    padding: 20%;
    border-radius: 10%;
}
 
 .slider {
    width: 95%;
    margin: 5%;
    height: 30%;
    overflow: hidden;
    background-color: transparent;
    color:white;
    border-radius: 20%;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.login {
background:transparent;
margin: 5%;
font-family:'Montserrat', sans-serif ;
}

.login button {
 

    border:  solid black;
}
    
    


/* Al poner el curso encima (hover) */
.botonesIngreso button:hover{
    background-color: #008CBA;
    color: white;
}

/* Inicio pagina Main */



#encabezado1{

    grid-area: header;
}

#menu {

    grid-area: main;
}

#navigation{
    grid-area: nav;
}

#seleccionViajes {

    grid-area: footer;
}

.contenedor1 {

 width: 100%;
height: 100%;

display: grid;
grid-template-columns: 20% 80%;
grid-auto-rows: 15% 75% 10%;
border: 2px solid;
grid-template-areas: 
"nav header "
"main main"
"footer footer";             
}




#seleccionViajes {
   
 display: grid;
grid-template-columns: auto 15% auto;
}

#seleccionViajes button{
width: 100%;
}

#btnConductor {
    width: 100%;
    height: 100%;
    border: none;
    background: rgb(54, 175, 139);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#btnPasajeros {
    width: 100%;
    height: 100%;
    border:none;
    background: rgb(97, 125, 202);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#btnmas{
    width: 100%;
    height: 100%;
    background: rgb(212, 173, 82);
    border: solid rgb(212, 123, 82);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*EMPIEZA MENU DESPLEGABLE*/

ul.nav-items {
    list-style: none;
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width 0.4s ease-in-out 0s, height 0.4s ease 0s , background-color 0.9s ease 0s;
}

#navigation{
    background: #008CBA
}

#navigation:target .nav-items{
    position: relative;
    background: #008CBA none repeat scroll 0 0;
    width: 300%;
    height: 539%;
    transition: width 0.3s ease-in-out 0s,background-color 0.3s ease 0s;
}

#navigation:target .nav-items li{
    margin-top: 15%;
    height: 10%;
    border: 2px solid;
}

.close{
    display: none;
}

.control-menu {
    margin-left: 5%;
    margin-top: 30%;
}

#navigation:target .open{
    display: none;
}

#navigation:target .close{
    display: block;
}

/*TERMINA MENU DESPLEGABLE*/
#menu{
    width: 100%;
    overflow: scroll;
}

/**/
#menuPasajero {

    display: none;
}

#menuPasajero:target{
    display: block;
}


#menuConductor:target{
    display: block;
}

#menuConductor {

    display: none;
}
/**/ 

 


/* modificacion del header para todas las pantallas */

header {

    background: #008CBA;
}

/* boton del back */


#back  {

    background: #008CBA;
    }



/* Prueba  */

.ViajeVuelta {
    display: none;
}